name: Deploy HTML to S3 Dev
on:
  push:
    branches:
      - dev
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync HTML files to S3
        run: |
          pwd
          ls -lrt
          aws s3 sync . s3://${{ vars.S3_BUCKET_NAME_DEV}} --delete
      - name: Make index.html publicly readable

        run: |
          aws s3api put-object-acl --bucket ${{ vars.S3_BUCKET_NAME_DEV}} --key index.html --acl public-read